footer {
    background-color: var(--redux-color);
    color: white;
    height: 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footerSection{
    width: 100%;
}

.footerText {
    padding: 0;
    margin: 0;
}